In [1]:
import pandas as pd

In [2]:
data_startup = pd.read_csv('50_Startups.csv')

In [3]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
47        NaN       135426.92              NaN  California   42559.73
27   72107.60       127864.55        353183.81    New York  105008.31
6   134615.46       147198.87        127716.82  California  156122.51
42   23640.93        96189.63        148001.11  California   71498.49
38   20229.59        65947.93              NaN    New York   81229.06
46    1315.46       115816.21        297114.46     Florida   49490.75

In [1]:
#1 Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Menemukan kolom yang memiliki data kosong (NaN)
missing_data_columns = data_startup.columns[data_startup.isnull().any()].tolist()

# Menghitung nilai mean untuk setiap kolom yang memiliki data kosong
mean_values = {column: data_startup[column].mean() for column in missing_data_columns}

# Mengisi data kosong dengan nilai mean
data_startup.fillna(mean_values, inplace=True)

# Menampilkan hasil pre-processing
print(data_startup.sample(7))

     R&D Spend  Administration  Marketing Spend       State         Profit
4   142107.340        91391.77    366168.420000     Florida  166187.940000
5   131876.900        99814.71    362861.360000    New York  156991.120000
16   78013.110       121597.55    264346.060000  California  126992.930000
47   76788.862       135426.92    223582.690222  California   42559.730000
0   165349.200       136897.80    471784.100000    New York  192261.830000
13   91992.390       135495.07    252664.930000  California  111850.855208
25   64664.710       139553.16    137962.620000  California  107404.340000

In [2]:
#2 lakukan oneHotEncoder ke field state

import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Melakukan one-hot encoding pada kolom 'State'
data_encoded = pd.get_dummies(data_startup, columns=['State'])

# Menampilkan hasil encoding
print(data_encoded.sample(7))

    R&D Spend  Administration  Marketing Spend     Profit  State_California  \
44   22177.74       154806.14         28334.72   65200.33              True
33   55493.95       103057.49        214634.81   96778.92             False
17   94657.16       145077.58        282574.31  125370.37             False
28   66051.52       182645.56        118148.20  103282.38             False
10        NaN       110594.11        229160.95  146121.95             False
23        NaN       105751.03              NaN  108733.99             False
3   144372.41       118671.85        383199.62  182901.99             False

    State_Florida  State_New York
44          False           False
33           True           False
17          False            True
28           True           False
10           True           False
23           True           False
3           False            True

In [3]:
#3 buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%

import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Menghitung Tax berdasarkan rumus yang diberikan
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Menampilkan hasil dengan kolom Tax baru
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit  \
42   23640.93        96189.63        148001.11  California   71498.49
49        NaN       116983.80         45173.06  California   14681.40
11  100671.96        91790.61        249744.55  California  144259.40
22   73994.56       122782.75        303319.26     Florida  110352.25
18   91749.16       114175.79        294919.57     Florida  124266.90
9   123334.88       108679.17        304981.62  California  149759.96
41   27892.92        84710.77        164470.71     Florida   77798.83

           Tax
42  15784.4615
49   8841.9130
11  24289.7280
22  26822.7130
18  26668.1130
9   28171.0375
41  16349.0155

In [4]:
#4 Jalankan standardScaler field-field tersebut

from sklearn.preprocessing import StandardScaler
import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Mengambil kolom numerik untuk scaling
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Fitting dan transformasi data
data_startup[numeric_columns] = scaler.fit_transform(data_startup[numeric_columns])

# Menampilkan hasil scaling
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State    Profit
0    1.969800        0.537431         2.181258    New York  1.983399
13   0.338164        0.483994         0.255582  California       NaN
17   0.397435        0.849040         0.518434    New York  0.333469
26  -0.032474        0.813169        -0.786836     Florida -0.150888
44  -1.214686        1.219649        -1.715890  California -1.150671
14   0.959859        1.285983         0.289399     Florida  0.511859
9    1.035298       -0.537558         0.715355  California  0.935057